html {
    position: relative;
    min-height: 100%;
}

body {
    background: #f3f3f3;
}

.container {
    margin-bottom: 60px;
}
#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 20px;
}

.form {
    margin-top: 15px;
}

.result {
    position: relative;
}

.informer {
    margin-top: 10px;
}

#container-svg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(157,235,226,.7);
}